:root{
    --primary-color:rgb(255, 255,255,0.95);
    --secondary-color:#2d4271;  
}
.poppins-thin {
  font-family: 'Poppins';
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255,255,0.95);
    padding: 20px 28px;
    box-shadow: 0px 4px 10px rgb(0,0,0,0.1);
    z-index: 100;
}
.contnav{
    display: flex ;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.logo{
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.8px;
}
.navbar  {
    display: flex;
    gap: 30px;
    align-items: center;
    
}
.navbar a {
 text-decoration: none;
 color: #2d4271;
 font-weight: 600;
 font-size: 15px;
 transition: color 0.3s ;
 letter-spacing: 0.5px;
 margin-left:35px ;
}
.navbar a:hover{
    color:#ff6600;
}
.homme span{
    display:block;
    margin: 5px 0px ;
    height: 3px;
    width:25px;
    background-color: #2d4271;
    justify-content: center;
    transition: all 0.3s ease;
    transform: translateY(0.1px);
}
.homme{
  margin-top: 5px ;
}
.face{
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4) ) , url(couche.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.contface h1{
font-size:5rem;
padding-bottom: 2rem;
font-weight: 900;
letter-spacing: 0.8px;
max-width: max-content;
text-shadow: 2px 2px 4px rgb(0,0,0,0.3);
}
.contface{
    max-width: 900px;
    padding: 2rem;
}
.contface p {
     font-size: 1.8rem;
     font-weight: 400;
     margin-bottom: 3rem;
     text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
.rech {
    background-color: #fff;
    padding: 0.8rem 0 ;
    border-radius: 20px;
    gap:1rem;
    flex-wrap:wrap;
    box-shadow: 0px  3px 15px rgba(0,0,0,0.1);
    align-self: center;
    max-width: 800px;
    margin: 0 auto;
}
.rechbox{
     flex: 1;
     max-width: 180px;
     margin: 0px 2px 0px 2px ;
     padding: .8rem 1.5rem;
     border: none ;
     border-radius: 25px;
     background-color: transparent;
     color: #2d4271;

}
.rechbox:not(:last-of-type){
    border-right: 1px solid #ff6600 ;
}
.rechbox:focus{
    outline: none;
    background-color: transparent;
}
.rechbox::placeholder{
    color: var(--secondary-color);
    font-weight:300;

}
.btbox{
    background-color: transparent;
    color: var(--secondary-color);
    padding: 0.8rem 2rem ;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease ;
     font-weight: 400;
     text-transform: uppercase;
     letter-spacing: 1px;
     max-width: 120px;
     border: none;
}
.btbox:hover{
    background-color:#ff6600 ;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
    transform: scale(1.1);
    color: #fff;
}
.section{
    margin: 6rem 3rem;
    background-color: rgb(248, 248, 248);
    
}
.for-grild{
         display: grid;
    grid-template-columns:repeat(auto-fit,minmax(350px, 1fr));
    gap: 40px;
    max-width: 1466px;
}
.sectitre{
    text-align: center;
    margin-bottom: 75px;
   
}
.sectitre h2 {
    color: #2d4271;
    font-size: 45px;
    margin-bottom: 29px;
    font-weight:bold;
}
.sectitre p {
    color: #666;
    font-size: 1.3rem;
}
.des-grild{
     
    padding: 0 2px ;
    margin-bottom:2.5rem;
}
.destcart{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 20px rgb(0,0,0,0.08);
    transition: all 0.3s ease;
    background-color: #fff;
    max-width: 450px;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  

    
}
.destof{
  
   
    
}
.destof img{
    
    height:400px;
    width: 100%;
    object-fit: cover;
    transition: all 0.1s ;
}
.destcart:hover {
    transform: scale(1.1); 
    box-shadow: 0px 4px 12px rgb(0,0,0,0.8);  
}
.destinfo{
 padding: 23px;
 
}
.destinfo h3{
font-size: 1.5rem;
margin-bottom: 13px;
color: var(--secondary-color);

}
.destinfo p {
    margin-bottom: 13px;
    font-size: .8rem;
}
.prix{
    font-size: 1.4rem;
    color: #ff6600;
}
.sectitre h1 {
    font-size: 1.5rem;
    color: #2d4271;
    margin-bottom: 25px;
    text-align: center;
}
.sectitre p {
    color: #666;
    
}
.about{
  margin-top: 50px;
  text-align: center;
  margin-bottom:20px;


}
.about p {
font-size: 1.2rem;
color: #666;
}
.con-inf{
 margin-left: 50px;
 transform: translateX(50px);
}
.con-inf h3  {
  margin-bottom: 15px;
   margin-left: 2px;
   color: #2d4271;
   font-size: 28px;
}
.con-con{
  display: grid;
  grid-template-columns: auto auto auto ;
  gap: 2rem;
  margin-left: 80px;
}
.con-form{
   display:  flex;
   flex-direction: column;
}
.con-form input , .con-form textarea{
width: 100%;
margin-bottom: 10px;
padding: 10px 25px ;
border-radius: 8px;
border: 2px solid rgb(43, 41, 41);

}
.con-form button {
  padding: 6px 0px 6px 0px  ; 
  border: none ;
  border-radius: 5px ;
  background-color: #ff6600;
  color: #fff;
  margin-bottom: 10px;
}
.fouter{
  background-color: #2d4271;
  color: #fff;
  padding: 40px 80px  30px 80px; 
}
.footer-cont{
  display: grid;
  grid-template-columns:  auto auto auto;
  gap: 2.8rem;
}
.footer-colum h3 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.foot-texte h3{
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.footer-colum p  ,a {
  margin-bottom: 15px;
  display: block;
  color: #fff;

}
.footer-colum a:hover{
  color: #ff6600;
}
.coppy p {
  text-align:center;
  font-size:20px ;
  padding: 20px 0px 20px 0px ;
  border-top: 1px solid #f1dbdb72 ;
  
}
span{
  text-transform: uppercase;
}
.destof .cap {
  height: 350px;
}

